h3{
    text-transform: uppercase;    
    text-align: center;
}

body{
    width: 100%;
}

//size
.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}
// .width-60{
//     // width: 60%;
// }

.full-height {
    height: 100%;
}

.main-container{
    background-color: #c6c6ff;
    // height: 94vh;
    padding: 5px;
}

.buttons{
    margin-top: 1em;
    width: 100%;
    background-color: #c6c6ff;
}

h3{
    margin: 0;
}

