<div class="flex column center-center full-height padding-1em">
  <form [formGroup]="patientForm" class="full-width">
    <h3>New Patient</h3>
    <hr>
    <h5>Patient Details</h5>
    <div class="flex gap">
      <div>
        <mat-form-field class="full-width">
          <mat-label>Full Name</mat-label>
          <input type="text" matInput formControlName="fullName" placeholder="David Smith">
          <mat-error *ngIf="patientForm.get('fullName')?.hasError('required')">
            fullName is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="patientForm.get('fullName')?.hasError('minlength')">
            Name should at least have more than 4 charectors
          </mat-error>
        </mat-form-field>

        <div class="flex full-width">
          <div class="half-width">
            <mat-button-toggle-group formControlName="gender" required appearance="legacy" name="fontStyle"
              aria-label="Font Style">
              <mat-button-toggle value="male">Male</mat-button-toggle>
              <mat-button-toggle value="female">Female</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-error *ngIf="patientForm.get('gender')?.hasError('required')">
              gender is <strong>required</strong>
            </mat-error>
          </div>
          <div class="half-width">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>DOB</mat-label>
              <input matInput formControlName="dob" [matDatepicker]="picker">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

          </div>
        </div>
        <div class="flex gap full-width">
          <div class="half-width">
            <mat-form-field appearance="fill">
              <mat-label>Blood Group</mat-label>
              <mat-select formControlName="blood">
                <mat-option *ngFor="let blood of bloogDroup" [value]="blood">{{blood}}</mat-option>
              </mat-select>
              <mat-error *ngIf="patientForm.get('blood')?.hasError('required')">
                Blood type is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="half-width">
            <mat-form-field class="full-width">
              <mat-label>Cell Number</mat-label>
              <input type="tel" matInput formControlName="cellNumber" placeholder="000-000-0000" maxlength="10">
              <mat-error *ngIf="patientForm.get('cellNumber')?.hasError('required')">
                Cell Number is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="patientForm.get('cellNumber')?.hasError('minlength')">
                Cell Number should at least have 10 digits
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" placeholder="Dsmith@example.com">
          <mat-error *ngIf="patientForm.get('email')?.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="patientForm.get('email')?.hasError('pattern')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Symptoms</mat-label>
          <input type="text" matInput formControlName="symptoms" placeholder="type address here...">
          <mat-error *ngIf="patientForm.get('symptoms')?.hasError('required')">
            Patient symptoms are <strong>required</strong>
          </mat-error>

        </mat-form-field>
      </div>

    </div>
    <div class="flex column center-center">

    </div>
    <div class="flex gap full-width">
      <button mat-raised-button class="flex1" color="warn" (click)="save()">Save</button>
      <button mat-raised-button class="flex1" color="primary">Cancel</button>
    </div>
  </form>
</div>