.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .form {
        height: 400px;
        width: 400px;
        border: 2px solid black;
        border-radius: 10%;
    }

    .center {

        display: flex;
        justify-content: center;
        align-items: center;

    }

    .input {
        width: 350px;
        margin-left: 25px;
    }

    .buttons {
        gap: 2em;
        margin-top: 30px;
    }

    .span {
        color: blue;
        margin-left: 5px;
    }

    :hover {
        cursor: pointer;
    }
}