<div class="container">
    <mat-card class="card">
        <mat-card-content>Total appointments-Today</mat-card-content>
        <mat-icon class="icon" >calendar_today</mat-icon>
      </mat-card>
      <mat-card class="card">
        <mat-card-content>Total appointments-Month</mat-card-content>
        <mat-icon class="icon">calendar_month </mat-icon> 
      </mat-card>
      <mat-card class="large-card ">
        <mat-card-content>Doctor's Availiability</mat-card-content>
      </mat-card><br>
      <mat-card class="xlarge-card">
        <mat-card-content>Today's appointments</mat-card-content>
      </mat-card>
      <mat-card class="round-card">
        <mat-card-content>Today's appointments</mat-card-content>
      </mat-card>
</div>
