<div class="full-height flex center-center">
  <div class="height-90 full-width gap-1 flex">
    <div class="flex gap-1 column">
      <div class="flex gap-1">
        <mat-card class="card flex center-center">
          <mat-card-content class="width-80 flex column gap-1">
            <p class="">Total appointments-Today</p>
            <div class="flex center-center gap-1">
              <mat-icon class="icon">calendar_today</mat-icon>
              <h3>10</h3>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="card flex center-center">
          <mat-card-content class="width-80 column gap-1">
            <p>Total appointments-Month</p>
            <div class="flex center-center gap-1">
              <mat-icon class="icon">calendar_month </mat-icon>
              <h3>20</h3>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <mat-card class="full-width flex-1 padding-15" *ngIf="user.role !== 'doctor'">
        <mat-card-content>Today's appointments</mat-card-content>
      </mat-card>
      <mat-card class="full-width flex-1" *ngIf="user.role === 'doctor'">
        <mat-card-content>Approved appointments</mat-card-content>
      </mat-card>
    </div>
    <mat-card class="large-card flex-1 full-width">
      <mat-card-content class="full-width padding-15 flex column">
        <h4 class="text-center">Doctor's Availiability</h4>
        <div *ngFor="let days of availDays" (click)="getUser(days)" [routerLink]="user.role === 'receptionist' ? '/home/schedule' : '/home/dashboard'">
          <div class="pointer padding-15">
            <p class="margin-5px">{{days.doctorName}}</p>
            <p class="margin-5px">{{days.date | date}}</p>
            <div class="flex gap05">
              <small>From: {{days.hours.startTime}}</small>
              <small> - </small>
              <small>To: {{days.hours.endTime}}</small>
            </div>
          </div>
          <hr>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- <mat-card class="round-card">
          <mat-card-content>Today's appointments</mat-card-content>
        </mat-card> -->
  </div>
</div>