@import '~dhtmlx-scheduler/codebase/dhtmlxscheduler.css';
:host{
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}

.event-red {
    background-color: red !important; /* You can customize the background color */
  }
  
  .event-blue {
    background-color: blue !important; /* You can customize the background color */
  }

  html,
body {
    height: 100%;
    width: 100%;
    margin: unset;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import '~dhtmlx-scheduler/codebase/dhtmlxscheduler.css';
:host{
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}

.pad{
    padding: -500px;
    box-sizing: border-box;
}

.pad-head{
    box-sizing: border-box;
    margin-right: 5em;
}