.main-container{
    background-color: #fbfaff;
    width: 80%;
}

.full-height{
    height: 100%;
}

.full-width{
    width: 100%;
}

.flex-1 {
    flex: 1;
}

.flex {
    display: flex !important;
}


.column {
    flex-direction: column;
}
.center-center {
    justify-content: center !important;
    align-items: center !important;
}

.gap05em {
    gap: 0.5em;
}

.gap1em {
    gap: 1em;
}

.blueLine{
    border: 3px solid blue;
}