<div class="mainContainer flex column gap1em">
    <div class="top">
        <h3>DOCTORS LIST</h3>
        <div class="blueLine"></div>
    </div>
    <div class="middle flex">
        <mat-form-field>
            <mat-label>Select a specialization</mat-label>
            <mat-select>
                <mat-option *ngFor="let speciality of specialities">
                    {{speciality}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="bottom flex gap1em wrap center-center">
        <div class="card">
            <mat-card>
                <mat-card-content class="flex gap05em ">
                    <div class="DocImage flex">
                        <img src="../../../assets/images/doctor.png" alt="">
                        <div class="dot"></div>
                    </div>
                    <div class="DocInfo">
                        <div class="docName">
                            <p>Dr. Nembo Lukeni</p>
                            <p>MBBS, DMRD</p>
                        </div>
                        <div class="docDetail flex row gap1em">
                            <div class="designation flex column gap05em">
                                <small class="title">Designation</small>
                                <small>Senior Specialist</small>
                            </div>
                            <div class="lineBetween"></div>
                            <div class="experience flex column gap05em">
                                <small class="title">Experience</small>
                                <small>10+ years</small>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="card">
            <mat-card>
                <mat-card-content class="flex gap05em ">
                    <div class="DocImage flex">
                        <img src="../../../assets/images/doctor.png" alt="">
                        <div class="dot"></div>
                    </div>
                    <div class="DocInfo">
                        <div class="docName">
                            <p>Dr. Nembo Lukeni</p>
                            <p>MBBS, DMRD</p>
                        </div>
                        <div class="docDetail flex row gap1em">
                            <div class="designation flex column gap05em">
                                <small class="title">Designation</small>
                                <small>Senior Specialist</small>
                            </div>
                            <div class="lineBetween"></div>
                            <div class="experience flex column gap05em">
                                <small class="title">Experience</small>
                                <small>10+ years</small>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="card">
            <mat-card>
                <mat-card-content class="flex gap05em ">
                    <div class="DocImage flex">
                        <img src="../../../assets/images/doctor.png" alt="">
                        <div class="dot"></div>
                    </div>
                    <div class="DocInfo">
                        <div class="docName">
                            <p>Dr. Nembo Lukeni</p>
                            <p>MBBS, DMRD</p>
                        </div>
                        <div class="docDetail flex row gap1em">
                            <div class="designation flex column gap05em">
                                <small class="title">Designation</small>
                                <small>Senior Specialist</small>
                            </div>
                            <div class="lineBetween"></div>
                            <div class="experience flex column gap05em">
                                <small class="title">Experience</small>
                                <small>10+ years</small>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="card">
            <mat-card>
                <mat-card-content class="flex gap05em ">
                    <div class="DocImage flex">
                        <img src="../../../assets/images/doctor.png" alt="">
                        <div class="dot"></div>
                    </div>
                    <div class="DocInfo">
                        <div class="docName">
                            <p>Dr. Nembo Lukeni</p>
                            <p>MBBS, DMRD</p>
                        </div>
                        <div class="docDetail flex row gap1em">
                            <div class="designation flex column gap05em">
                                <small class="title">Designation</small>
                                <small>Senior Specialist</small>
                            </div>
                            <div class="lineBetween"></div>
                            <div class="experience flex column gap05em">
                                <small class="title">Experience</small>
                                <small>10+ years</small>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="card">
            <mat-card>
                <mat-card-content class="flex gap05em ">
                    <div class="DocImage flex">
                        <img src="../../../assets/images/doctor.png" alt="">
                        <div class="dot"></div>
                    </div>
                    <div class="DocInfo">
                        <div class="docName">
                            <p>Dr. Nembo Lukeni</p>
                            <p>MBBS, DMRD</p>
                        </div>
                        <div class="docDetail flex row gap1em">
                            <div class="designation flex column gap05em">
                                <small class="title">Designation</small>
                                <small>Senior Specialist</small>
                            </div>
                            <div class="lineBetween"></div>
                            <div class="experience flex column gap05em">
                                <small class="title">Experience</small>
                                <small>10+ years</small>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="card">
            <mat-card>
                <mat-card-content class="flex gap05em ">
                    <div class="DocImage flex">
                        <img src="../../../assets/images/doctor.png" alt="">
                        <div class="dot"></div>
                    </div>
                    <div class="DocInfo">
                        <div class="docName">
                            <p>Dr. Nembo Lukeni</p>
                            <p>MBBS, DMRD</p>
                        </div>
                        <div class="docDetail flex row gap1em">
                            <div class="designation flex column gap05em">
                                <small class="title">Designation</small>
                                <small>Senior Specialist</small>
                            </div>
                            <div class="lineBetween"></div>
                            <div class="experience flex column gap05em">
                                <small class="title">Experience</small>
                                <small>10+ years</small>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="card">
            <mat-card>
                <mat-card-content class="flex gap05em ">
                    <div class="DocImage flex">
                        <img src="../../../assets/images/doctor.png" alt="">
                        <div class="dot"></div>
                    </div>
                    <div class="DocInfo">
                        <div class="docName">
                            <p>Dr. Nembo Lukeni</p>
                            <p>MBBS, DMRD</p>
                        </div>
                        <div class="docDetail flex row gap1em">
                            <div class="designation flex column gap05em">
                                <small class="title">Designation</small>
                                <small>Senior Specialist</small>
                            </div>
                            <div class="lineBetween"></div>
                            <div class="experience flex column gap05em">
                                <small class="title">Experience</small>
                                <small>10+ years</small>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="card">
            <mat-card>
                <mat-card-content class="flex gap05em ">
                    <div class="DocImage flex">
                        <img src="../../../assets/images/doctor.png" alt="">
                        <div class="dot"></div>
                    </div>
                    <div class="DocInfo">
                        <div class="docName">
                            <p>Dr. Nembo Lukeni</p>
                            <p>MBBS, DMRD</p>
                        </div>
                        <div class="docDetail flex row gap1em">
                            <div class="designation flex column gap05em">
                                <small class="title">Designation</small>
                                <small>Senior Specialist</small>
                            </div>
                            <div class="lineBetween"></div>
                            <div class="experience flex column gap05em">
                                <small class="title">Experience</small>
                                <small>10+ years</small>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        
    </div>
</div>