<div class="profile-container">
    <div class="flex center">
        <span class="material-symbols-outlined">
            arrow_back_ios
        </span>
        <h1 class="title">Users Details</h1>
    </div>
    <div class="underline"></div>
    <div class="btn">
        <button mat-raised-button color="warn" (click)="userDetails()"> Delete</button>
        <button mat-raised-button color="primary">Edit</button>
    </div>
    <div class="user-details ">
        <div class="profile-img">
            <img src="../../../assets/images/doctor.png" alt="">
        </div>
        <div class="profile-details">
            <p><b class="title">fullName:</b> {{users.fullName}}</p>
            <p><b class="title">Email: </b>{{users.email}}</p>
            <p><b class="title"> ID number:</b>{{users.identityNO}}</p>
            <p><b class="title">role: </b>{{users.role}}</p>
            <p><b class="title"> contact: </b>{{users.contact}}</p>
        </div>
    </div>
</div>
