
.day-container {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px grey solid;
}

.m-b-10 {
    margin-top: 10px;
}

.times {
    left: 200px
}

input {
    height: 30px;
}

.end {
    align-items: end;
}

.pointer {
    cursor: pointer;
}

.avail {
    background-color: green;
}

.unavail {
    background-color: red;
}

.unavail-p {
    color: red;
    
}

.no-margin {
    margin: 0;
}

.height-80 {
    height: 80%;
}

.removeTimer {
    &::-webkit-calendar-picker-indicator {
    background: none;
  }
    border: none;
    padding: 0;
    // width: 30px;
}

.width-25 {
    width: 25%;
    button {
        width: 33px;
        height: 33px;
    }
}

.end-center {
    justify-content: end;
    align-items: center;
}

.width-80 {
    width: 80%;
}

.no-margin {
    margin: 0;
}

.m-t-10 {
    margin-top: 10px;
}

.p-l-10 {
    padding: 10px;
    font-size: medium;
}

.unavail-p {
    color: red;   
}

.pic {
    img {
        border-radius: 50%;
        width: 70px;
        height: 70px;
    }
}
.title {
    font-weight: 700;
    font-size: 18px;
    color: #333;
    letter-spacing: .54px;

}

.flex {
    display: flex;
}

.center {
    align-items: center;
}

.center-center {
    align-items: center;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}

.gap-2em {
    gap: 2em;
}

.wrap {
    flex-direction: column;
}

.space-between {
    align-items: center;
    justify-content: space-between;
}

.space-around {
    align-items: center;
    justify-content: space-around;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.underline {
    background: #7575FF;
    border-radius: 5px;
    width: 52px;
    height: 4px;
}

.profile-img img {
   
        height: 100px;
        width: 100px;
        border-radius: 50px;
    
}

.user-details {
    display: flex;
    gap: 1em;
    width: 100%;
    

}
.add-btn{
    border-radius: 50%;
    border: #7575FF;
}
.column{
    flex-direction: column;
}