.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .form {
        height: 200px;
        width: 350px;
        border: 2px solid black;
        border-radius: 5%;

        
    }
    .center{
    
            display: flex;
            justify-content: center;
            align-items: center;
            
    }

    .input {
        width: 300px;
        margin-left: 25px;
    }
    .buttons{
        gap: 2em;
        margin-top: 10px;
        button{
            width: 100px;
        }
    }
    .span{
        color: blue;
        margin-left: 5px;
    }
    :hover{
        cursor: pointer;
    }
}