<div class="form-container">
    <div class="form">
        <h2 class="center">Forgot Password</h2>
        <form [formGroup]="forgotPasswordForm" class="">
            <!-- email -->
            <mat-form-field appearance="fill" class="input">
                <mat-label>Email</mat-label>
                <input matInput placeholder="email" type="email" name="email" formControlName="email" required>
                <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')">Please enter a valid email
                    address</mat-error>
            </mat-form-field>
             <!-- id -->
             <mat-form-field appearance="fill" class="input">
                <mat-label>ID</mat-label>
                <input matInput placeholder="ID Number" type="number" name="id" formControlName="id" required>
                <mat-error *ngIf="forgotPasswordForm.get('id')?.hasError('required')">ID number is required</mat-error>
                <mat-error *ngIf="forgotPasswordForm.get('id')?.hasError('minLength')">ID number is to short</mat-error>
                <mat-error *ngIf="forgotPasswordForm.get('id')?.hasError('maxLength')">ID number is to long</mat-error>
            </mat-form-field>


            <!-- buttons -->
            <span routerLink="/login" class="span"> Login</span>
            <div class="buttons center">
                <button mat-raised-button [disabled]="forgotPasswordForm.invalid" (click)="submit(forgotPasswordForm)" color="primary">
                    Send
                </button>
                <button mat-raised-button (click)="resetForm()" color="warn">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>