<div class="table">
    <h1 class="text-center">{{isPatient ? 'Patient' : 'Users'}} List</h1>
    <div class="flex end-center gap-1em">
        <mat-form-field class="filter-box">
            <mat-label>Search {{isPatient ? 'Patient' : 'Users'}}</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="isPatient? patient() : User()">{{isPatient ? 'ADD Patient' : 'ADD User'}}</button>
    </div>


    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <!--Columns -->
            <ng-container [matColumnDef]="header" *ngFor="let header of displayedColoms,let i= index">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> <b>{{displayedHeaders[i]}}</b></th>
                <td mat-cell *matCellDef="let row" class="text-center"> {{row[header]}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColoms"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColoms;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page of tableData.dataSource"></mat-paginator>
    </div>

</div>