<footer>
    <div class="flex space-between ">
        <p>
            Get connected with us on social networks:
        </p>
        <div class="social-icon flex center-center flex-1 gap-2em">
            <i class="fa fa-twitter icon"></i>
            <i class="fa fa-facebook icon"></i>
            <i class="fa fa-google icon"></i>
            <i class="fa fa-linkedin icon"></i>
        </div>
    </div>
    <hr>
    <div class="flex gap-2em full-width space-between">
        <div class="company half-width">
            <h5 class = "text-uppercase fw-bold mb-4"><i class="fa-solid fa-gem"></i>Company Name</h5>
            <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
                consectetur adipisicing elit.</p>
        </div>
        <div class="company half-width ">
            <h5 class = "text-uppercase fw-bold mb-4"><i class="fa-solid fa-gem"></i>Products</h5>
              <div class="flex wrap">
                <a href="">Articles</a>
                <a href="">Articles</a>
                <a href="">Articles</a>
              </div>
        </div>
        <div class="company half-width">
            <h5 class = "text-uppercase fw-bold mb-4"><i class="fa-solid fa-gem"></i>Useful Links</h5>
            <div class="flex wrap">
                <a href="">Articles</a>
                <a href="">Articles</a>
                <a href="">Articles</a>
              </div>
        </div>
        <div class="company half-width">
            <h5 class = "text-uppercase fw-bold mb-4"><i class="fa-solid fa-gem"></i>Contact</h5>
            <div class="flex wrap">
                <a href="">Articles</a>
                <a href="">Articles</a>
                <a href="">Articles</a>
              </div>
        </div>
    </div>
    <div class="text-center p-4 bg-grey">
        © 2024 Copyright:
        <a class="fw-bold">MediCenter</a>
      </div>
</footer>

